<h2>Login ...</h2>

<form action="/login" method="POST" >
	<div>
		<input type="text" name="username" placeholder="Enter User Name">
	</div>
	<div>
		<input type="password" name="password" placeholder="Enter Password">
	</div>
	<div>
		<button>Login</button>
	</div>
</form>
<li><a href="/register" title="">Sign Up</a></li>
<li><a href="/login" title="">Login</a></li>
<li><a href="/logout" title="">Logout</a></li>