<h4>Welcome to the profile </h4>
<p><img src="https://cdn.scotch.io/57241/uyLfxQcASXKhYBJTXSW4_Desktop.jpg" width="30%"></p>
<li><a href="/register" title="">Sign Up</a></li>
<li><a href="/login" title="">Login</a></li>
<li><a href="/logout" title="">Logout</a></li>