<!DOCTYPE html>
<html>
<head>
	<title> User Registration </title>
</head>
<body>
	<form action="/register" method="POST">
		<div>
			<input type="email" name="email" placeholder="Email">
		</div>
		<div>
			<input type="text" name="username" placeholder="User Name">
		</div>
		<div>
			<input type="password" name="password" placeholder="Password">
		</div>
		<div>
			<button type="submit">Submit</button>
		</div>
			
		</div>
	</form>
	<li><a href="/register" title="">Sign Up</a></li>
	<li><a href="/login" title="">Login</a></li>
	<li><a href="/logout" title="">Logout</a></li>
</body>
</html>